<h1> Записаться </h1>
<form action='/visit' method='POST'>
  <div class="form-group">
    <label>Ваше имя </label>
    <input name='username' type="text" class="form-control" id="visit_form" aria-describedby="emailHelp">

  </div>
  <button type="submit" class="btn btn-primary">Записаться</button>
</form>