<h1> Записаться </h1>
<form action='/visit' method='POST'>
  <div class="form-group">
    <label>Ваше имя </label>
    <input name="username" type="text" class="form-control" id="visit_form_name" aria-describedby="emailHelp">
  </div>
  
  <div class="form-group">
    <label>Ваш телефон </label>
    <input name="phone" type="text" class="form-control" id="visit_form_phone" aria-describedby="emailHelp">
  </div>
  
  <div class="form-group">
    <label>Время записи </label>
    <input name="time" type="text" class="form-control" id="visit_form_time" aria-describedby="emailHelp">
  </div>
  
    
  <div class="form-group">
    <label >Выберете парикмахера</label>
    <select type="text" name="barber" class="form-control" id="visit_form_barber">
      <option>Дикий Джо</option>
      <option>Полудикий Джо</option>
      <option>Мумитроль</option>
    </select>
  
  <button type="submit" class="btn btn-primary">Записаться</button>
</form>